.flow {
    &-form {
        background-color: $white;
        border-radius: 1.6rem;
        box-shadow: 0 4px 16px rgba(17, 34, 17, 5%);
        padding: 3.2rem 2.4rem;
        margin-top: 4.8rem;
        width: 100%;

        display: flex;
        gap: 0 2.4rem;


        &>a {
            width: 5.6rem;
            height: 5.6rem;

            &>i {
                font-size: 1.9em;
            }
        }
    }

    &-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0 2.4rem;
        margin-top: 3.2rem;
        margin-bottom: 12rem;

        &--favorite {
            flex-direction: column;
            width: 100%;
            margin-top: 4.8rem;
        }
    }

    &-filter {
        max-width: 34.3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3.2rem 0;

        &__icon {
            display: none;
        }
    }
    //range input
    &-slider {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: #ddd;
        position: relative;
    }

    &-progress {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        border-radius: 5px;
        background-color: $black-green;
    }
    &-range {
        position: relative;
        
        &>input {
            position: absolute;
            top: -5px;
            height: 5px;
            width: 100%;
            background: none;
            appearance: none;
            border: none;
            pointer-events: none;
            padding: 0;
            cursor: pointer;
        }
        &>label {
            position: absolute;
            top: 20px;
            font-size: 1.2em;
            @include style-height();
        }
    }
    // end range input
    &-list {
        // max-width: 85.6rem;
        max-width: 100%;
        padding-left: 1.55rem;
        position: relative;

        @include pseudo(before){
            left: 0;
            top: 0;
            width: 0.5px;
            height: 100% - 5;
            border-left: 0.5px solid rgba(17, 34, 17, .25);
            opacity: 25%;
        }

        & .tab .tab__name {
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: .8rem 0;

        }

        &--favorite {
            padding-left: 0;
            margin-bottom: 12rem;
            &::before {
                opacity: 0;
            }
        }
    }

    &-tab__des {
        font-size: 0.875em;
        opacity: 40%;
        @include style-height();
    }

    &-quantity {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.4rem;

        &>h3 {
            font-size: 1.4em;
            &>span {
                color: #FF8682;
            }
        }
        &>p {
            font-size: 1.4em;
        }
    }

    &-box {
        margin: 2.4rem 0;

        &--favorite {
            margin: 4rem 0 0;
        }
    }

    &-card {
        display: flex;
        background-color: $white;
        border-radius: 1.2rem;
        box-shadow: 0 4px 16px rgba(17, 34, 17, 5%);
        padding: 2.4rem 1.6rem;
        margin-bottom: 3.2rem;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        &--hotel {
            padding: 0;
            height: 29.85rem;
            margin-bottom: 2.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
        &--favorite {
            height: 27.35rem;
        }

        &__image {
            width: 30rem;
            overflow: hidden;

            &>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    &-hotel {
        width: 54rem;
        padding: 2.4rem;

        &>hr {
            margin: 2.4rem 0;
        }

        &--favorite {
            width: 79.2rem;
        }
    }

    &-image {
        width: 16rem;
        height: auto;
        overflow: hidden;
        &>img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &--favorite {
            width: 44rem;
        }
    }
    &-flight {
        width: 100%;
        padding-left: 2.4rem;
    }

    &-button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0 1.6rem;
        margin-top: 1.6rem;
        &>a:nth-child(1),
        &>a:nth-child(2) {
            width: 4.8rem;
        }
        &>a:last-child{
            width: 100%;
        }
    }

    &-price {
        &__des {
            font-size: 1.2em;
            opacity: 75%;
            @include style-height();

            &:last-child {
                text-align: right;
            }
        }

        &__main {
            font-size: 2.4em;
            text-align: right;
            color: #FF8682;
            @include style-height();

            &>small {
                font-size: 1.4rem;
            }
        }
    }
    &-review {
        display: flex;
        align-items: center;
        gap: 0 .8rem;

        &__main {
            font-size: 1.4em;
            @include style-height();
        }
    }

    &-favorite__title {
        font-size: 3.2em;
        @include style-height();
        margin-bottom: 2.4rem;
    }
}

.filter {
    &__title {
        font-size: 2em;
        @include style-height();
    }

    &__main {
        font-size: 1.6em;
        @include style-height();
        margin-bottom: 1.6rem;
    }

    &-price,&-departure {
        margin-bottom: 3.5rem;
    }

    &-price,
    &-departure,
    &-rating,
    &-checks {
        position: relative;
    }

    &-icon {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        cursor: pointer;

    }

    &-checks {
        border: none;
        outline: none;

        &__more {
            color: #FF8682;
        }
    }

    &-check {
        display: flex;
        align-items: center;
        gap: 0 1.1rem;
        margin-bottom: 0.8rem;
        user-select: none;

        &:last-child {
            margin-bottom: 0;
        }

    }
}



.rating {
    &-box {
        display: flex;
        align-items: center;
        gap: 0 1.6rem;
    }

    &-item {
        width: 4rem;
        height: 3.2rem;
        border-radius: .4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        &__text {
            font-size: 1.2em;
            @include style-height();
        }
    }
}

hr {
    opacity: 25%;
}

.flight {
    &-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;
    }

   

    &-time {
        &__main {
            font-size: 1.6em;
            @include style-height();
            margin-bottom: 0.4rem;
        }
        &__des {
            font-size: 1.4em;
            opacity: 40%;
            @include style-height();
        }


    }

    &-check {
        display: flex;
        gap: 0 1.5rem;
        margin-bottom: 1.6rem;
        &>label {
            display: flex;
            gap: 0 4rem;

            &>span {
                font-size: 1.4em;
                opacity: 78%;
                @include style-height();
            }

        }
    }
    &-timeBox:last-child > &-time__main {
        opacity: 78%;
    }

    &-show {
        @include customButton($black-green, none, $black-green, 1px solid $black-green, $medium-green, none, none, $neutrals-gray)}
}

.hotel {
    &-heading {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &-content {
        &__main {
            font-size: 2em;
            margin-bottom: 1.6rem;
            @include style-height();
        }

        &__des {
            font-size: 1.2em;
            color: rgba(17, 34, 17, 75%);
            @include style-height();

            &>i {
                color: $black-green;
            }
        }
    }

    &-rating {
        display: flex;
        align-items: center;
        gap: 0 3.2rem;
        margin: 1.2rem 0;

        &__des {
            margin-left: 0.4rem;
        }
    }

    &-star {
        display: inline-flex;
        align-items: center;
        font-size: 1.2em;
        @include style-height();


        &>i {
            color: #FF8682;
        }
    }

    &-amenity {
        display: flex;
        align-items: center;
        gap: 0 .4rem;

        &__des {
            font-size: 1.6em;
            @include style-height();
        }
    }
}

#close-filter {
    display: none;
}