@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'TradeGothic LT Extended';
    src: url('assets/fonts/TradeGothicLT-Extended.woff2') format('woff2'),
        url('assets/fonts/TradeGothicLT-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('assets/fonts/TradeGothicLT.woff2') format('woff2'),
        url('assets/fonts/TradeGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('assets/fonts/TradeGothicLT-Bold.woff2') format('woff2'),
        url('assets/fonts/TradeGothicLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('assets/fonts/TradeGothicLT-Light.woff2') format('woff2'),
        url('assets/fonts/TradeGothicLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


.container {
    width: 100%;
    max-width: 1232px;
}

.-trade-gothic {
    font-family: 'TradeGothic LT Extended', sans-serif;
}

// =========================== BUTTON =========================

.btn {
    @include button();

    &__text {
        font-size: 1.4em;
        color: $black-green;
    }

    &__icon {
        width: 2.4rem;
        height: 2.4rem;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}



.btn--fill {
    @include customButton($primary-color, none, $light-green, 1px solid $primary-color, $medium-green, none, none, $neutrals-gray)
}

.btn--outline {
    @include customButton(transparent, 2px solid $primary-color, transparent, none, transparent, 2px solid $medium-green, 1px solid $neutrals-gray, none)
}

.btn--none {
    @include customButton(transparent, none, transparent, none, transparent, none, none, transparent) {
        padding: 0;
    }

    &:hover .-text--effect {
        color: $light-green;
    }

    &:hover .-icon--effect {
        filter: invert(93%) sepia(4%) saturate(2493%) hue-rotate(97deg) brightness(96%) contrast(82%);
    }

    &:active .-text--effect {
        color: $medium-green;
    }

    &:active .-icon--effect {
        filter: invert(87%) sepia(7%) saturate(1563%) hue-rotate(106deg) brightness(86%) contrast(88%);
    }

    &:disabled .-text--effect {
        color: #8F8C91;
    }

    &:disabled .-icon--effect {
        filter: invert(62%) sepia(7%) saturate(168%) hue-rotate(233deg) brightness(89%) contrast(90%)
    }
}

//====================== MODIFIER-STYLE ======================
.-black-green {
    color: $black-green;
}

.-white {
    color: $white;
}

.-filter-white {
    filter: brightness(0) invert(1);
}

.-filter-black-green {
    filter: invert(8%) sepia(32%) saturate(809%) hue-rotate(71deg) brightness(103%) contrast(94%);
}

.-regular {
    font-weight: 400;
}

.-medium {
    font-weight: 500;
}

.-semi-bold {
    font-weight: 600;
}

.-bold {
    font-weight: 700;
}

.-small {
    height: 3.2rem;
}

.-mediumH {
    height: 4rem;
}

.-large {
    height: 4.8rem;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $black-green;
    margin: 0 .8rem;
    display: block;
}

// =============== slider ==================

.slider {
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    width: 61.8rem;
    height: 81.6rem;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

}

.slide {
    width: 61.8rem;
    height: 81.6rem;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slide-dot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 .8rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    border: none;
    outline: none;


    a {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $white;
        @include transition-ease();

        &.active {
            width: 3.2rem;
            height: 1.2rem;
            background-color: $primary-color;
            border-radius: .5rem;
        }
    }
}

//============================
.heading {
    &-title {
        &__sub {
            font-size: 3.2rem;
            @include style-height();
        }

        &__des {
            font-size: 1.6rem;
            color: $black-green;
            margin-top: 1.6rem;
            @include style-height();
        }
    }

    &-button {
        position: absolute;
        top: 16px;
        right: 0;
    }
}



//===================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-green;
}

section {
    // height: 100vh;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    // @include text-transform; // capitalize
    color: $black-green;
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

input+label {
    user-select: none;
    cursor: pointer;
}

input {
    width: 100%;
    height: 5.6rem;
    border-radius: .4rem;
    border: 1px solid #70747e;
    padding: 1.75rem 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: $place;
    z-index: 100;

    &::placeholder {
        font-size: 14px;
    }

    &.error {
        border: 2px solid red;

        &+label {
            color: red;
        }
    }

    &.success {
        border: 1px solid #70747e;

        &+label {
            color: $black-green;
        }
    }

    &:focus {
        outline: 0;
        border: 2px solid $primary-color;
    }

    &:focus+label {
        color: $primary-color;
    }
}

.hero-search__input.error>input {
    border: 2px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=checkbox] {
    appearance: none;
    width: 1.95rem;
    height: 1.95rem;
    padding: 0;
    border: 2px solid $black-green;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include pseudo(after) {
        content: '\f00c';
        font-family: 'Font Awesome 5 Free';
        border: none;
        font-weight: 900;
        background-color: black;
        color: white;
        display: none;
        border-radius: .5rem;
    }

    &:checked {
        background-color: $black;

        &::after {
            display: block;
        }
    }

    &:valid {
        border: 2px solid $black-green;
    }

    &:valid+label {
        color: $black-green;
    }
}

input[type=submit] {
    border: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: $light-green;
}

input[type="date"] {
    z-index: 100;
    background: url('assets/icons/fill/calendar.svg');
    background-repeat: no-repeat;
    // background-size: 30px;
    background-position: 95%;
    padding: 1.65rem 1.6rem;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
}

input[type="file"] {
    display: none;
}


.select {
    &-container {
        display: flex;
        justify-content: center;
        position: relative;
        min-width: 14rem;
        height: 5.6rem;
        border: 1px solid #d2d1d3;
        border-radius: 4px;

        &--hotel {
            min-width: 24rem;
            background: url('assets/icons/fill/User.svg');
            background-repeat: no-repeat;
            background-position: 5%;

            .select-box {

                padding-left: 4rem;
            }
        }

        &>label {
            position: absolute;
            top: -10px;
            left: 10px;
            background-color: $white;
            padding: 0 0.4rem;
            font-size: 1.4em;
            color: $black-green;
            z-index: 1;
        }
    }

    &-box {
        border: none;
        appearance: none;
        width: 100%;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4em;
        padding: 1.8rem 1.6rem;
        z-index: 1;

        &>option {
            // height: 5.6rem
            padding: 1.8rem 1.6rem;
        }

        &:focus {
            outline: 0;
            border: 1px solid $primary-color;
        }

        &:focus+label {
            color: $primary-color;
        }
    }

    &__icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
    }


}

.drop-down {
    height: 5.6rem;
    width: 100%;
    border: 1px solid rgba(112, 116, 126, .4);
    border-radius: .4rem;
    display: flex;
    align-items: center;
    padding-left: 1.6rem;
    position: relative;
    cursor: pointer;
    user-select: none;

    &--trip {
        max-width: 14rem;
        background-image: url('assets/icons/vector/chevron_down.svg');
        background-repeat: no-repeat;
        background-position: 90%;
    }

    &--hotel {
        background-image: url('assets/icons/fill/User.svg');
        background-repeat: no-repeat;
        background-position: 5%;
        padding-left: 4rem;
    }

    &>p {
        background-color: $white;
        position: absolute;
        top: -8px;
        left: 10px;
    }

    &__main {
        font-size: 1.6em;
        @include style-height();
    }
    

    &-item {
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding: 1.6rem;
        box-shadow: 0 4px 16px rgba(17, 34, 17, .2);
        opacity: 0;
        visibility: hidden;
        @include transition-ease();

        &--active {
            top: 7rem;
            visibility: visible;
            opacity: 1;
        }

        &__heading {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 2.4rem;
            &>input {
                // display: none;
                appearance: none;
                border: none;
                width: auto;
                height: auto;

                &:focus+label {
                    color: $black-green;
                }

                @include pseudo(after) {
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    border: 1px solid $primary-color;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:checked{
                    &::after {
                        background-color: $primary-color;
                    }
                }
            }
        }

        article {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .count {
                display: flex;
                align-items: center;
                gap: 0 1.8rem;

                &>i {
                    border: 1px solid $primary-color;
                    padding: .5rem;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
        
        &__trip {
            display: flex;
            flex-direction: column;
            height: auto;
            &>input {
                display: none;
            }
            &>label {
                padding: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid rgba(17, 34, 17, .1);
                @include transition-ease();
                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    background-color: $primary-color;
                }
            }
        }

        .count-guest {
            margin-bottom: 1rem;
        }
    }


    &-icon {
        position: absolute;
        right: 12px;
    }
}

button {
    font-size: 1.4em;
}


#myTabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &>input[type="radio"] {
        display: none;

        &:checked+label+#tab {
            display: block;
        }

        &:checked+label::after {
            width: calc(100% - 24*2px);
            opacity: 1;
            visibility: visible;
        }

        &:checked+.tab-label::after {
            width: calc(100% - 24px);
            opacity: 1;
            visibility: visible;
        }
    }

    &>label {
        width: calc(100% / var(--i));
        height: 8rem;
        font-size: 1.6em;
        background-color: $white;
        box-shadow: 0 4px 16px rgba(17, 34, 17, .05);
        padding: 1.75rem 2.4rem;
        display: inline-block;
        user-select: none;

        @include pseudo(after) {
            width: 0;
            height: 4px;
            background-color: $primary-color;
            bottom: 0;
            left: 24px;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease-in-out;
        }

        @include pseudo(before) {
            width: 1px;
            height: 48px;
            background-color: #D7E2EE;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }


        &:nth-last-child(2) {
            border-top-right-radius: 1.2rem;
            border-bottom-right-radius: 1.2rem;
            border-right: none;

            &::before {
                display: none;
            }
        }

        &:nth-child(2) {
            border-top-left-radius: 1.2rem;
            border-bottom-left-radius: 1.2rem;
        }

        &>img {
            transform: translateY(30%);
        }

        // &>span {
        //     font-size: 1.4rem;
        //     opacity: 40%;
        //     line-height: 3;
        // }
    }

    &>.tab-label {
        display: inline-block;
        // align-items: center;
        background: url("assets/icons/fill/airPlane.svg") no-repeat left center;
        // background-position: center;
        // width: 10rem;
        height: 4.8rem;
        margin-bottom: 4.8rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 1.4rem 4rem;

        &::after {
            left: 0;
            bottom: -1.5rem;
        }

        &:nth-last-child(2) {
            background: url("assets/icons/fill/bed.svg") no-repeat left center;
            margin-left: 3.2rem;
        }
    }

    &>#tab {
        width: 100%;
        order: 1;
        display: none;
    }
}



//==========================
iframe {
    width: 100%;
    height: 45rem;
    border-radius: 1.6rem;
}