@font-face {
    font-family: 'TradeGothic LT Extended';
    src: url('TradeGothicLT-Extended.woff2') format('woff2'),
        url('TradeGothicLT-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT.woff2') format('woff2'),
        url('TradeGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT-Bold.woff2') format('woff2'),
        url('TradeGothicLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT-Light.woff2') format('woff2'),
        url('TradeGothicLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

